[client]
default-character-set = utf8

[isamchk]
key_buffer_size = 16M

[mysql]
default-character-set = utf8

[mysqld]
bind-address = 127.0.0.1
port = 3306
log-error = /var/log/mariadb/mariadb.log
binlog_format = ROW
default-storage-engine = innodb
innodb_autoinc_lock_mode = 2
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8
datadir = /var/lib/mysql/
#wsrep_cluster_address = gcomm://172.16.170.130:4567,172.16.170.131:4567,172.16.170.132:4567
#wsrep_provider_options = "gcache.size=512M;gmcast.listen_addr=tcp://172.16.170.132:4567;ist.recv_addr=172.16.170.132:4568"
#wsrep_node_address = 172.16.170.132:4567
#wsrep_sst_receive_address = 172.16.170.132:4444
#wsrep_provider = /usr/lib64/galera/libgalera_smm.so
#wsrep_cluster_name = "openstack"
#wsrep_node_name = Hcs160
#wsrep_sst_method = xtrabackup-v2
#wsrep_sst_auth = root:123456
#wsrep_slave_threads = 8
max_connections = 10000
ignore-db-dir = lost+found
innodb-data-home-dir = /var/lib/mysql
innodb_buffer_pool_size = 5000M
innodb_doublewrite = 0
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_io_capacity = 500
innodb_locks_unsafe_for_binlog = 1
innodb_log_file_size = 2000M
innodb_read_io_threads = 8
innodb_write_io_threads = 8
key_buffer_size = 64
max_allowed_packet = 256M
myisam_recover = BACKUP
myisam_sort_buffer_size = 64M
open_files_limit = 102400
performance_schema = on
query_cache_limit = 1M
query_cache_size = 0
query_cache_type = 0
thread_cache_size = 8
thread_stack = 256K
wait_timeout = 1800
skip-external-locking
skip-name-resolve

[server]
pid-file = /var/lib/mysql/mariadb.pid
